<div class="">
  <we-title [mytext]="'Aggiungi publisher'"></we-title>
    <div class="page_content col-md-6 col-md-offset-3" align="left">
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">nome publisher*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire il nome del publisher">
      </div>
      </div>
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">email publisher*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire l'email del publisher">
      </div>
      </div>
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">numero telefono publisher*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire il numero di telefono del publisher">
      </div>
      </div>
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">Pagamento publisher*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire IBAN o Paypal oppure entrambi del publisher">
      </div>
      </div>
      <select class="input_select fat_el" name="">
        <option value="fb">Partita IVA</option>
        <option value="ig">Srl</option>
        <option value="ig">Privato</option>
      </select>
      <div class="footer_wrapper">
        <we-line></we-line>
        <we-button [mytext]="'Aggiungi publisher'"></we-button>
      </div>
    </div>

</div>
