<div class="">
  <we-title [mytext]="'Tutti le campagne'"></we-title>
  <div class="page_content" align="center">

  <div class="campaign-wrapper" data-campaign-id="-KvXnQuKWzSbJjdaaXNV">
    <div class="campaign-banner" style="background-image:url(http://www.mottamilano.it/data/products/20141120_181410_80661aa90c992c4a9f6a50a3dbf6fda6bb2e84ae.jpg);">
      <div class="campaign-actor">
        <div class="campaign-actor-image" style="background-image:url(https://i.imgur.com/yaHfOfq.png);">

        </div>
        <div class="campaign-actor-name">Alkemy</div>
      </div>
    </div>
    <div class="campaign-details">
      <div class="campaign-title">Panettone - Motta</div>
      <div class="campaign-details-column">
        <div class="campaign-detail">3 publisher</div>
        <div class="campaign-detail">7 post attivi</div>
        <div class="campaign-detail">
          <div class="view-more-campaign button-custom-2" data-campaign-id="-KvXnQuKWzSbJjdaaXNV">Modifica</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
