<div class="create_campaign">
  <div class="page-menu-wrapper">
    <div id="page-menu">
      <div class="page-menu-element page-menu-element-create-campaign page-menu-element-active">Dettagli</div>
      <div class="page-menu-element page-menu-element-create-campaign">Publisher</div>
      <div class="page-menu-element page-menu-element-create-campaign">Proposte</div>
      <div class="page-menu-element page-menu-element-create-campaign">Post</div>
      <div class="page-menu-element page-menu-element-create-campaign">Fatturazione</div>
    </div>
  </div>
  <div class="page_content">
    <div class="row">
      <div class="section group">
        <div class=" col col-3">
          <div class="input_wrapper">
          <div class="input_inner">
            <div class="input_label">nome campagna*</div>
            <input id="budgetRequestedPerPost"
            type="text"
            placeholder="Inserire il nome della campagna">
          </div>
          </div>
        </div>
        <div class=" col col-2">
          <select class="input_select fat_el" name="">
            <option value="fb">provider campagna (type)</option>
            <option value="ig">media2</option>
            <option value="ig">media3</option>
          </select>
        </div>
        <div class="col col-2">
          <select class="input_select fat_el" name="">
            <option value="fb">provider campagna</option>
            <option value="ig">media2</option>
            <option value="ig">media3</option>
          </select>
        </div>
        <div class="col col-2">
          <select class="input_select fat_el" name="">
            <option value="fb">pagamento</option>
            <option value="ig">media2</option>
            <option value="ig">media3</option>
          </select>
        </div>
        <div class="col col-3">
          <select class="input_select fat_el" name="">
            <option value="fb">categoria</option>
            <option value="ig">media2</option>
            <option value="ig">media3</option>
          </select>
        </div>
      </div>
    </div>
<div class="row">
  <div class=" col col-2">
    <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">codice commessa*</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="codice commessa*">
    </div>
    </div>
  </div>
  <div class=" col col-2">
    <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">inizio campagna*</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="Data inizio campagna">
    </div>
    </div>
  </div>
  <div class=" col col-2">
    <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">fine campagna*</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="Data fine campagna">
    </div>
    </div>
  </div>
  <div class=" col col-2">
    <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">budget campagna*</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="Es: 9000">
    </div>
    </div>
  </div>
  <div class=" col col-2">
    <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">obiettivo (reach)*</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="Es: 30000">
    </div>
    </div>
  </div>
  <div class=" col col-2">
    <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">pagamento publisher*</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="Es: 1(e/1k reach)">
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class=" col col-12">
    <div class="input_wrapper" style="height: 150px">
    <div class="input_inner">
      <div class="input_label">Brief campagna*</div>
      <textarea name="name" rows="8" cols="80"></textarea>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-4">
    <div class="input_wrapper">
      <div class="input_inner">
        <div class="input_label">hashtag di campagna (opzionale)</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Es: #ciaociao">
      </div>
    </div>
  </div>
  <div class="col col-4">
    <div class="input_wrapper">
      <div class="input_inner">
        <div class="input_label">link di campagna (opzionale)</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Es: www.sitocliente.it">
      </div>
    </div>
  </div>
  <div class="col col-4">
  <div class="input_wrapper">
    <div class="input_inner">
      <div class="input_label">link 1° commento (opzionale)</div>
      <input id="budgetRequestedPerPost"
      type="text"
      placeholder="Es: www.sitocliente2.it">
    </div>
    </div>
  </div>
</div>
  </div>
</div>
