<div class="container">
    <div class="top_bar">
      <div id="logo-wrapper">
          <div id="logo">
              <img src="assets/img/logo.png">
          </div>
      </div>
      <div id="horizontal-nav">
          <div id="profile-wrapper">
              <div id="profile-picture" style="background-image: url(&quot;http://i.imgur.com/eSTswJM.jpg&quot;);"></div>
              <div class="top_bar_right">
                <div id="profile-details-wrapper">
                    <div class="profile-details" id="profile-name-label">Emiliano Negri</div>
                    <div class="profile-details" id="profile-role-label">SuperAdmin</div>
                </div>
                <div id="icon" class="notification">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div id="icon">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
              </div>

          </div>
        </div>
  </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    </div>
