<div class="">
  <we-title [mytext]="'Tutti i centri media'"></we-title>
  <div class="page_content" align="center">
                <!-- Content -->
                <table class="table-data table-bordered" sortable-table (sorted)="onSorted($event)" width="100%">
                    <thead>
                        <tr>
                            <th sortable-column="name" sort-direction="asc">Nome</th>
                            <th sortable-column="fisco">Ragione fiscale</th>
                            <th sortable-column="piva">Partita Iva</th>
                        </tr>
                    </thead>
                    <tbody id="publishers-list">
                    <tr *ngFor="let agency of customers">
                      <td class="publisher-name">
                        <a href="">{{agency.name}}</a>
                      </td>
                      <td>{{agency.fisco}}</td>
                      <td>{{agency.piva}}</td>
                    </tr>
                </table>
                <!-- Content // End -->
              </div>
</div>
