<div class="">
  <we-title [mytext]="'Aggiungi centro media'"></we-title>
    <div class="page_content col-md-6 col-md-offset-3" align="left">
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">nome centro media*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire il nome del centro media da mostrare nel report">
      </div>
      </div>
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">nome ragione fiscale centro media*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire il nome della ragione fiscale del centro media">
      </div>
      </div>
      <div class="input_wrapper" align="left">
      <div class="input_inner">
        <div class="input_label">partita iva centro media*</div>
        <input id="budgetRequestedPerPost"
        type="text"
        placeholder="Inserire la partita iva del centro media">
      </div>
      </div>
      <div class="footer_wrapper">
        <we-line></we-line>
        <we-button [mytext]="'Aggiungi centro media'"></we-button>
      </div>
    </div>

</div>
